{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out</title>
    <link rel="stylesheet" href="{% static 'css/logout.css' %}">
</head>
<body>
    <header>
        <h1>You have been logged out.</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/accounts/login-page/">Login</a></li>
                <li><a href="/accounts/register-page/">Register</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
