<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css"> <!-- Якщо потрібно, додайте CSS -->
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <nav>
        <ul>
            <li><a href="/categories/">Categories</a></li>
            <li><a href="/products/">Products</a></li>
            <li><a href="/cart/">Cart</a></li>
        </ul>
    </nav>

    <div class="auth-buttons">
        <button onclick="window.location.href='/accounts/login-page/'">Login</button>
        <button onclick="window.location.href='/accounts/register-page/'">Register</button>
    </div>
</body>
</html>